<footer>
    <div class="contacto">
        <h2>Contacto</h2>
        <p>Email: info@example.com</p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
    <div class="disclaimer">
        <p>&copy; 2023 Mi Sitio Web</p>
        <p>
            Somos una empresa comprometida con la creación de
            experiencias web increíbles.
        </p>
    </div>
    <div class="sitios-web">
        <!--Botones para las redes sociales-->
        <div>
            <h2>
                <a href="https://www.instagram.com" class="linkAWebs">
                    <img
                        class="logo"
                        src="/img/Instagram_logo_2016.svg.webp"
                        alt="Instagram logo"
                        />
                    Instagram
                </a>
            </h2>
            <h2>
                <a href="https://www.facebook.com" class="linkAWebs">
                    <img
                        class="logo"
                        src="/img/584ac2d03ac3a570f94a666d.png"
                        alt="Facebook logo"
                        />
                    Facebook
                </a>
            </h2>
            <h2>
                <a href="https://twitter.com" class="linkAWebs">
                    <img
                        class="logo"
                        src="/img/580b57fcd9996e24bc43c53e.png"
                        alt="Twitter logo"
                        />
                    Twitter/X
                </a>
            </h2>
        </div>
</footer>
