<footer>
    <div class="contacto">
        <h2>Contacto</h2>
        <p>Email: info@example.com</p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
    <div class="disclaimer">
        <p>&copy; 2023 Mi Sitio Web</p>
        <p>
            Somos una empresa comprometida con la creación de
            experiencias web increíbles.
        </p>
    </div>
    <div class="sitios-web">
        <h2>Sitios Web</h2>
        <p><a href="https://www.instagram.com/mr.house.inmobiliaria/" class="sitio-web">@Mr.Hause</a></p>
        <p><a href="https://www.facebook.com/mr.house.inmo" class="sitio-web">Facebook</a></p>
        <!-- Agrega más enlaces según sea necesario -->
    </div>
</footer>
