<header class="header-items">
    <div class="logo-empresa">
        <a class="button-logo" th:href="@{/}">
            <img
                src="/img/logo.png"
                alt="logo_temporal"
                class="logo-empresa"
                />
        </a>
        <h1 class="nombre_Empresa">Mr. House</h1>
    </div>

    <!--forms relacionados a las querys de busqueda-->
    <form class="searcher" action="buscar.php" method="GET" th:action="@{/filtro}"  sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'CLIENTE')">
        <!-- <input
             class="searcher-form"
             type="text"
             id="busqueda"
             name="q"
             placeholder="Escribe tu búsqueda..."
             />-->
        <select name="transaccion" class="searcher-form">
            <option value="" disabled selected>
                Tipo de transaccion
            </option>
            <option value="comprar">Comprar</option>
            <option value="alquiler">Alquiler</option>
            <option value="temporario">Temporario</option>
        </select>
        <select name="tipo" class="searcher-form" th:value="${tipo}">
            <option value="" disabled selected>Tipo de vivienda</option>
            <option value="departamento">Departamento</option>
            <option value="ph">PH</option>
            <option value="casa">Casa</option>
            <option value="terreno">Terreno y lotes</option>
            <option value="cochera">Cochera</option>
            <option value="local">Local</option>
            <option value="oficina">Oficina</option>
            <option value="consultorio">Consultorio</option>
            <option value="quinta">Quinta</option>
            <option value="chacra">Chacra</option>
            <option value="galpon">Galpon</option>
            <option value="deposito">Deposito</option>
            <option value="campo">Campo</option>
            <option value="hotel">Hotel</option>
            <option value="fondo">Fondo de comercio</option>
            <option value="edificio">Edificio</option>
            <option value="otros">Otros</option>
        </select>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const $selectProvincias = document.getElementById("provincias");
                const $selectMunicipios = document.getElementById("municipios");

                function provincia() {
                    fetch("https://apis.datos.gob.ar/georef/api/provincias")
                            .then((res) => (res.ok ? res.json() : Promise.reject(res)))
                            .then((json) => {
                                let $options = `<option value="">Elige una provincia</option>`;

                                json.provincias.forEach(
                                        (el) => ($options += `<option value="${el.nombre}">${el.nombre}</option>`)
                                );

                                $selectProvincias.innerHTML = $options;
                            })
                            .catch((error) => {
                                let message = error.statusText || "Ocurrió un error";
                                $selectProvincias.nextElementSibling.innerHTML = `Error: ${error.status}: ${message}`;
                            });
                }

                function municipio(provincia) {
                    fetch(
                            `https://apis.datos.gob.ar/georef/api/municipios?provincia=${provincia}&max=100`
                            )
                            .then((res) => (res.ok ? res.json() : Promise.reject(res)))
                            .then((json) => {
                                let $options = `<option value="">Elige un municipio</option>`;

                                json.municipios.forEach(
                                        (el) => ($options += `<option value="${el.nombre}">${el.nombre}</option>`)
                                );

                                $selectMunicipios.innerHTML = $options;
                            })
                            .catch((error) => {
                                let message = error.statusText || "Ocurrió un error";
                                $selectMunicipios.nextElementSibling.innerHTML = `Error: ${error.status}: ${message}`;
                            });
                }

                $selectProvincias.addEventListener("change", (e) => {
                    municipio(e.target.value);
                    console.log(e.target.value);
                });

                provincia(); // Llamada inicial para cargar las provincias al cargar la página
            });
        </script>
        <select id="provincias" class="searcher-form" name="provincia">
            <option value="" disabled selected>Elige una provincia</option>
        </select>
        <select id="municipios" class="searcher-form" name="departamento">
            <option value="" disabled selected>Elige un municipio</option>
        </select>
        <button class="buscar" type="submit" value="Buscar">Buscar</button>


    </form>
    <!--Botones relacionados a ingreso y registro de Usuario-->
    <!--Sin iniciar sesion-->
    <div sec:authorize="!hasAnyRole('ENTE', 'ADMIN', 'CLIENTE', 'USER')">
        <a th:href="@{login}">
            <button class="log-in"  type="button">Inicia Sesión</button>
        </a>
        <a  th:href="@{registro}">
            <button class="log-in" th:if="${session.usuariosession == null}" type="button">Registrarse</button>
        </a>
    </div>
    <!--Sesion iniciada-->
    <div sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'CLIENTE')">
        <a  th:href="@{/perfil}">
            <button class="log-in"  type="button">Perfil</button>
        </a>

        <a  th:href="@{/}">
            <button class="log-in" th:if="${session.usuariosession != null}" type="button">Pasarse Propietario</button>


              
        </a>
        <a  th:href="@{/logout}">
            <button class="log-in" sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'CLIENTE')" type="button" >Cerrar sesion</button>
        </a>
        <p  th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>
    </div>
</header>