<header class="header-items">
    <div class="logo-empresa">
        <a class="button-logo" th:href="@{/}">
            <img
                src="/img/logo.png"
                alt="logo_temporal"
                class="logo-empresa"
                />
        </a>
        <h1 class="nombre_Empresa">Mr. House</h1>
    </div>

    <!--forms relacionados a las querys de busqueda-->
    <form class="searcher" action="buscar.php" method="get" sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'CLIENTE', 'USER')">
        <!-- <input
             class="searcher-form"
             type="text"
             id="busqueda"
             name="q"
             placeholder="Escribe tu búsqueda..."
             />-->
        <!--Script relacionado a las provincias y sus municipios-->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const $selectProvincias = document.getElementById("provincias");
                const $selectMunicipios = document.getElementById("municipios");

                function provincia() {
                    fetch("https://apis.datos.gob.ar/georef/api/provincias")
                            .then((res) => (res.ok ? res.json() : Promise.reject(res)))
                            .then((json) => {
                                let $options = `<option value="Elige una provincia">Elige una provincia</option>`;

                                json.provincias.forEach(
                                        (el) => ($options += `<option value="${el.nombre}">${el.nombre}</option>`)
                                );

                                $selectProvincias.innerHTML = $options;
                            })
                            .catch((error) => {
                                let message = error.statusText || "Ocurrió un error";
                                $selectProvincias.nextElementSibling.innerHTML = `Error: ${error.status}: ${message}`;
                            });
                }

                function municipio(provincia) {
                    fetch(
                            `https://apis.datos.gob.ar/georef/api/municipios?provincia=${provincia}&max=100`
                            )
                            .then((res) => (res.ok ? res.json() : Promise.reject(res)))
                            .then((json) => {
                                let $options = `<option value="Elige un municipio">Elige un municipio</option>`;

                                json.municipios.forEach(
                                        (el) => ($options += `<option value="${el.id}">${el.nombre}</option>`)
                                );

                                $selectMunicipios.innerHTML = $options;
                            })
                            .catch((error) => {
                                let message = error.statusText || "Ocurrió un error";
                                $selectMunicipios.nextElementSibling.innerHTML = `Error: ${error.status}: ${message}`;
                            });
                }

                $selectProvincias.addEventListener("change", (e) => {
                    municipio(e.target.value);
                    console.log(e.target.value);
                });

                provincia(); // Llamada inicial para cargar las provincias al cargar la página
            });
        </script>
        <select name="Operaciones" class="searcher-form">
            <option value="" disabled selected>
                Tipo de transaccion
            </option>
            <option value="1">Comprar</option>
            <option value="2">Alquiler</option>
            <option value="3">Temporario</option>
        </select>
        <select name="Tipo de propiedad" class="searcher-form">
            <option value="" disabled selected>Tipo de vivienda</option>
            <option value="1">Departamento</option>
            <option value="2">PH</option>
            <option value="3">Casa</option>
            <option value="4">Terreno y lotes</option>
            <option value="5">Cochera</option>
            <option value="6">Local</option>
            <option value="7">Oficina</option>
            <option value="8">Consultorio</option>
            <option value="9">Quinta</option>
            <option value="10">Chacra</option>
            <option value="11">Galpon</option>
            <option value="12">Deposito</option>
            <option value="13">Campo</option>
            <option value="14">Hotel</option>
            <option value="15">Fondo de comercio</option>
            <option value="16">Edificio</option>
            <option value="17">Otros</option>
        </select>

        <select id="provincias" class="searcher-form">
            <option value="" disabled selected>Elige una provincia</option>
        </select>

        <select id="municipios" class="searcher-form">
            <option value="" disabled selected>Elige un municipio</option>
        </select>

        <button class="buscar" type="submit" value="Buscar">Buscar</button>


    </form>
    <!--Botones relacionados a ingreso y registro de Usuario-->
    <!--Sin iniciar sesion-->
    <div sec:authorize="!hasAnyRole('ENTE', 'ADMIN', 'CLIENTE', 'USER')">
        <a th:href="@{login}">
            <button class="log-in"  type="button">Inicia Sesión</button>
        </a>
        <a  th:href="@{registro}">
            <button class="log-in" th:if="${session.usuariosession == null}" type="button">Registrarse</button>
        </a>
    </div>
    <!--Sesion iniciada-->
    <div sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'CLIENTE', 'USER')">
        <a  th:href="@{/perfil}">
            <button class="log-in"  type="button">Perfil</button>
        </a>

        <a sec:authorize="hasAnyRole('CLIENTE')" th:href="@{/}">
            <button class="log-in" type="button">Pasarse Propietario</button>


            <!--  ESTO ES PARA PASARSE DE ROL PERO POR AHORA LO DEJEMOS COMENTADO
            <div th:if="${cliente.permiso}">
                <div th:if="${cliente.rol == CLIENTE}">
                    <a  th:href="@{/}">
                        <button class="log-in" th:if="${session.usuariosession != null}" type="button">Pasarse Propitario</button>
                </div>
                <div th:if="${cliente.rol == ENTE}">
                    <a  th:href="@{/}">
                        <button class="log-in" th:if="${session.usuariosession != null}" type="button">Pasarse Cliente</button>
                </div>
            </div>
            -->
        </a>
        <a  th:href="@{/logout}">
            <button class="log-in" sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'CLIENTE')" type="button" >Cerrar sesion</button>
        </a>
        <p  th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>
    </div>
</header>