<header class="header-items">
    <div class="logo-empresa">
        <a class="button-logo" th:href="@{/}">
            <img
                src="/img/logo.png"
                alt="logo_temporal"
                class="logo-empresa"
                />
        </a>
        <h1 class="nombre_Empresa">Mr. House</h1>
    </div>

    <!--forms relacionados a las querys de busqueda-->
    <form class="searcher" action="buscar.php" method="get">
        <input
            class="searcher-form"
            type="text"
            id="busqueda"
            name="q"
            placeholder="Escribe tu búsqueda..."
            />
        <input class="searcher-form" type="submit" value="Buscar" />
        <select name="Operaciones" class="searcher-form">
            <option value="" disabled selected>
                Tipo de transaccion
            </option>
            <option value="1">Comprar</option>
            <option value="2">Alquiler</option>
            <option value="3">Temporario</option>
        </select>
        <select name="Tipo de propiedad" class="searcher-form">
            <option value="" disabled selected>Tipo de vivienda</option>
            <option value="1">Departamento</option>
            <option value="2">PH</option>
            <option value="3">Casa</option>
            <option value="4">Terreno y lotes</option>
            <option value="5">Cochera</option>
            <option value="6">Local</option>
            <option value="7">Oficina</option>
            <option value="8">Consultorio</option>
            <option value="9">Quinta</option>
            <option value="10">Chacra</option>
            <option value="11">Galpon</option>
            <option value="12">Deposito</option>
            <option value="13">Campo</option>
            <option value="14">Hotel</option>
            <option value="15">Fondo de comercio</option>
            <option value="16">Edificio</option>
            <option value="17">Otros</option>
        </select>
    </form>
    <!--Botones relacionados a ingreso y registro de Usuario-->
    <div class="buttons">
        <!--Reemplazar estos buttons a -->
        <a th:href="@{login}">
            <button class="log-in" th:if="${session.usuariosession == null}" type="button">Inicia Sesión</button>
        </a>

        <a  th:href="@{registro}">
            <button class="log-in"th:if="${session.usuariosession == null}" type="button">Registrarse</button>
        </a>
        <a  th:href="@{/}">
            <button class="log-in" th:if="${session.usuariosession != null}" type="button">Perfil</button>
        </a>

                <a  th:href="@{/}">
            <button class="log-in" th:if="${session.usuariosession != null}" type="button">Pasarse Ente</button>
        </a>
        
        <a  th:href="@{/}">
            <button class="log-in" th:if="${session.usuariosession != null}" type="button">CheckOut</button>
        </a>
    </div>
</header>