<nav>
    <ul>
        <li><a th:href="@{/}" class="linkAAlgo">Inicio</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Ofertas</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Reuniones</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Reclamos</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Boletas de Pago</a></li>
        <div class=" dropdown">
                            <a class="linkAAlgo botonInmueble" 
                                 href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inmueble
                            </a>
                                <ul class=" dropdown-content " aria-labelledby="navbarDropdown">
                                <li><a class="linkAAlgo"  th:href="@{inmueble/registrar}">Crear Inmueble</a></li>
                                <li><a class="linkAAlgo" th:href="@{/}">Listar Inmuebles</a></li>
                                </ul>
        </div>


        
</nav>

