<nav>
    <ul sec:authorize="hasAnyRole('ENTE', 'ADMIN',  'CLIENTE')">
        <li><a th:href="@{/}" class="linkAAlgo">Inicio</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Ofertas</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Reuniones</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Reclamos</a></li>
        <li><a th:href="@{/}" class="linkAAlgo">Boletas de Pago</a></li>
        <div class=" dropdown" sec:authorize="hasAnyRole('ENTE','ADMIN')">
                            <a class="linkAAlgo botonInmueble" 
                                 href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inmueble
                            </a>
                                <ul class=" dropdown-content " aria-labelledby="navbarDropdown">
                                <li><a class="linkAAlgo"  th:href="@{/inmueble/registrar}">Crear Inmueble</a></li>
                                <li><a class="linkAAlgo" th:href="@{/inmueble/lista}">Listar Inmuebles</a></li>
                                <li><a class="linkAAlgo" th:href="@{/ente/lista}">Listar Todo</a></li>
                                </ul>
        </div>
        
        <div class=" dropdown" sec:authorize="hasAnyRole('ENTE', 'ADMIN', 'USER')">
                            <a class="linkAAlgo botonInmueble" 
                                 href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ente
                            </a>
                                <ul class=" dropdown-content " aria-labelledby="navbarDropdown" sec:authorize="hasRole('ADMIN')">
                                <li><a class="linkAAlgo"  th:href="@{/registrar}">Crear Ente</a></li>
                                <li><a class="linkAAlgo" th:href="@{/lista}">Listar Entes</a></li>
                                </ul>
        </div>
</nav>

