<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <head th:replace = "/fragments/head :: head"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inmueble_lista.css"/>
    <title>Lista de Clientes</title>
</head>


<body>
    <header th:replace = "/fragments/header :: header"/>
    <nav th:replace = "/fragments/nav :: nav"/>
    <div class="container-fluid m-5 contenedor">

        <div class="container m-5" >

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Imagen</th>
                        <th sec:authorize="hasAnyRole('ADMIN')" scope="col" >Accion</th> <!-- -->
                    </tr>
                </thead>
                <tbody th:each="cliente : ${clientes}">
                    <tr>

                        <th scope="row" th:text="${cliente.nombre}"></th>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.rol}"></td>
                        <td>Imagen</td>
                        <td>
                            <a sec:authorize="hasAnyRole('ADMIN')" th:href= "@{/admin/modificar/__${cliente.id}__}"><i class="fas fa-feather-alt"></i> Modificar</a>
                        </td>                

                        <td>
                            <a sec:authorize="hasAnyRole('ADMIN')" th:href= "@{/admin/modificarRol/__${cliente.id}__}"><i class="fas fa-feather-alt"></i>Cambiar</a>
                        </td>

                        <td >
                            <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/admin/modificar/__${cliente.id}__}"><i class="bi bi-feather"></i>Eliminar
                            </a>
                        </td>      
                    </tr>

                    </tr>                                    

            </table>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>


        <!--Seccion del Footer-->
        <footer th:replace = "/fragments/footer :: footer"/>
        <script src="index.js"></script>
</body>
</html>