<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/registrar.css" />
        <title>Formulario de Registro de cliente</title>
    </head>
    <body>
        <div class="container">
            <h2>Registro</h2>
            <form action="cliente/registro" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="dni">Dni:</label>
                    <input type="number" id="dni" name="dni" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" required>
                </div>
                <div class="form-group">
                    <label for="repetir-contrasena">Repetir Contraseña:</label>
                    <input type="password" id="repetir-contrasena" name="repetir-contrasena" required>

                    <div class="form-group">
                        <input type="submit" value="Registrarse">
                    </div>
            </form>
        </div>
    </body>
</html>
