<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"/>

    <body>        
        <header th:replace = "/fragments/header :: header"/>
        <nav th:replace = "/fragments/nav :: nav"/>

        </head>
        <body>
            <div class="container">
                <h2>Registro</h2>
                <form action="registro" method="post">
                    <div class="form-group">
                        <label class="label" for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label class="label" for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label class="label" for="contrasena">Contraseña:</label>
                        <input type="password" id="contrasena" name="password" required>
                    </div>
                    <div class="form-group">
                        <label class="label" for="repetir-contrasena">Repetir Contraseña:</label>
                        <input type="password" id="repetir-contrasena" name="password2" required>
                            <div class="form-group">
                                <input type="submit" value="Registrarse">
                            </div>
                    </div>
                </form>
            </div>
            <footer th:replace="/fragments/footer :: footer" />
        </body>
</html>