<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"/>

    <body>
        <header th:replace="/fragments/header :: header" />
        <nav th:replace="/fragments/nav :: nav"/>
        <!-- Imagenes del slider -->
        <div class="slider">
            <div>
                <img
                    class="slider-images"
                    src="/img/AdobeStock_169692156.webp"
                    alt="Imagen 1"
                    />
            </div>
            <div>
                <img
                    class="slider-images"
                    src="/img/architecture-1836070_960_720-1.jpg"
                    alt="Imagen 2"
                    />
            </div>
            <div>
                <img
                    class="slider-images"
                    src="/img/Compraventa-de-bienes-inmuebles-en-Panamá.jpg"
                    alt="Imagen 3"
                    />
            </div>
            <div>
                <img
                    class="slider-images"
                    src="/img/tipos-inmuebles-nexo-inmobiliaria.jpg"
                    alt="Imagen 3"
                    />
            </div>
        </div>

        <!-- Codigo del Slider -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".slider").slick({
                    autoplay: true,
                    autoplaySpeed: 2000,
                    dots: true,
                    arrows: false
                });
            });
        </script>
        <!--ES PARA LA LISTA-->
        <div th:if="${cliente} != null ">
            <div th:each="inmueble : ${inmuebles}">
                <div th:if="@{/imagen/inmueble/__${inmueble.id}__} != null">
                    <p th:text="${inmueble.tipo}"></p>
                    <img th:src="@{/imagen/inmueble/__${inmueble.imagen.id}__}" alt="imagen inmueble"/>
                    <form th:action="@{/inmueble/comprar/__${inmueble.id}__}">
                        <input type="text" th:value="${cliente.id}" id="idInmueble" name="id" hidden/>
                        <input type="text" th:value="${inmueble.id}" id="idInmueble" name="idInmueble" hidden/>
                        <button type="submit" >Comprar</button>
                    </form>
                </div>
                <div th:if="@{/imagen/inmueble/__${inmueble.id}__} == null" >
                    <p>error</p>
                </div>
            </div>
        </div>
        <div th:if="${cliente} == null">
            <div th:each="inmueble : ${inmuebles}">
                <div th:if="@{/imagen/inmueble/__${inmueble.id}__} != null">
                    <p th:text="${inmueble.tipo}"></p>
                    <img th:src="@{/imagen/inmueble/__${inmueble.imagen.id}__}" alt="imagen inmueble"/>
                    <form th:action="@{/login}">
                        <button type="submit">Comprar</button>
                    </form>
                </div>
                <div th:if="@{/imagen/inmueble/__${inmueble.id}__} == null" >
                    <p>error</p>
                </div>
            </div>
        </div>

        <!-- Seccion de ofertas -->
        <div class="titulo-seccion">
            <h2>¡Ofertas Especiales!</h2>
        </div>

        <section class="ofertas">
            <div>
                <p><a href="#" class="oferta-especial-btn">Conoce más</a></p>
                <img
                    class="oferta"
                    src="/img/download.jpg"
                    alt="Oferta 1"
                    />
            </div>
            <div>
                <p><a href="#" class="oferta-especial-btn">Conoce más</a></p>
                <img
                    class="oferta"
                    src="/img/oferta_inmobiliaria_paquete_diseno_pagina_web_publica_casas_locales_departamentos_terrenos_en_linea_dimension_digital_com_website_sistema.jpg"
                    alt="Oferta 2"
                    />
            </div>
            <div>
                <p><a href="#" class="oferta-especial-btn">Conoce más</a></p>
                <img
                    class="oferta"
                    src="/img/images.jpg"
                    alt="Oferta 3"
                    />
            </div>
        </section> 

        <div class="titulo-seccion">
            <h2>Inmuebles</h2>
        </div>
        <section class="inmuebles">
            <div class="tarjeta">
                <a th:href="@{/vistaInmueble}">
                    <button class="boton-inmueble">Ver Inmueble</button>
                </a>
            </div>
        </section>

        <!-- Seccion del Footer -->
        <footer th:replace="/fragments/footer :: footer" />
        <script src="index.js"></script>
    </body>

</html>