<!--Cambiar la forma en la que se acceden las carpetas
VS: /<carpeta>/<archivo>
Netbeans: /<carpeta>/<archivo>
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace = "/fragments/head :: head"/>
    
    <body>
        <head th:replace = "/fragments/header :: header"/>
        <head th:replace = "/fragments/nav :: nav"/>
        <!--Imagenes del slider-->
        <div class="slider">
            <div>
                <img
                    class="slider-images"
                    src="/img/AdobeStock_169692156.webp"
                    alt="Imagen 1"
                    />
            </div>
            <div>
                <img
                    class="slider-images"
                    src="/img/architecture-1836070_960_720-1.jpg"
                    alt="Imagen 2"
                    />
            </div>
            <div>
                <img
                    class="slider-images"
                    src="/img/Compraventa-de-bienes-inmuebles-en-Panamá.jpg"
                    alt="Imagen 3"
                    />
            </div>
            <div>
                <img
                    class="slider-images"
                    src="/img/tipos-inmuebles-nexo-inmobiliaria.jpg"
                    alt="Imagen 3"
                    />
            </div>
        </div>
        <!--Codigo del Slider-->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <script>
            $(document).ready(function () {
                $(".slider").slick({
                    autoplay: true,
                    autoplaySpeed: 2000,
                    dots: true,
                    arrows: true,
                });
            });
        </script>
        <!--Seccion de ofertas-->
        <div class="titulo-seccion"><h2>¡Ofertas Especiales!</h2></div>
        <section class="ofertas">
            <div>
                <p><a href="#" class="oferta-especial-btn">Conoce más</a></p>
                <img
                    class="oferta"
                    src="/img/download.jpg"
                    alt="Oferta 1"
                    />
            </div>
            <div>
                <p><a href="#" class="oferta-especial-btn">Conoce más</a></p>
                <img
                    class="oferta"
                    src="/img/oferta_inmobiliaria_paquete_diseno_pagina_web_publica_casas_locales_departamentos_terrenos_en_linea_dimension_digital_com_website_sistema.jpg"
                    alt="Oferta 2"
                    />
            </div>
            <div>
                <p><a href="#" class="oferta-especial-btn">Conoce más</a></p>
                <img
                    class="oferta"
                    src="/img/images.jpg"
                    alt="Oferta 3"
                    />
            </div>
        </section>
        <!--Seccion del Footer-->
        <head th:replace = "/fragments/footer :: footer"/>
        <script src="index.js"></script>
    </body>
</html>
