<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "/fragments/head :: head"/>

    <body>
        <header th:replace = "/fragments/header :: header"/>
        <nav th:replace = "/fragments/nav :: nav"/>
        <div th:each="inmueble : ${inmuebles}">
            
                  
                                <img th:src="@{/imagen/registro/__${inmueble.id}__}" th:alt="${'Imagen de ' + inmueble.tipo}">
                                <figcaption th:text="${inmueble.tipo}"></figcaption><br>
                                <p th:text="${inmueble.direccion"> </p><br>
                                <p th:text="${inmueble.mts2"> </p><br>
                                <p th:text="${inmueble.antiguedad"> </p>
                                    
                         
                            <a th:href="@{/inmueble/modificar/__${inmueble.id}__}">Modificar</a>
                       
        </div>
        <footer th:replace = "/fragments/footer :: footer"/>
        <script src="index.js"></script>
    </body>
</html>
