<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "/fragments/head :: head"/>

    <body>
        <header th:replace = "/fragments/header :: header"/>
        <nav th:replace = "/fragments/nav :: nav"/>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col"> Id del imobiliario</th>
                        <th scope="col"> tipo de imobiliaria</th>
                        <th scope="col"> Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="inmueble : ${inmuebles}">
                    <tr>
                        <th scope="row" th:text="${inmueble.tipo}"></th>
                        <td><figure>
                                <img th:src="@{/imagen/registro/__${inmueble.id}__}" th:alt="${'Imagen de ' + inmueble.tipo}">
                                <figcaption th:text="${inmueble.tipo}"></figcaption>
                            </figure></td>
                        <td>
                            <a th:href="@{/inmueble/modificar/__${inmueble.id}__}">Modificar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace = "/fragments/footer :: footer"/>
        <script src="index.js"></script>
    </body>
</html>
