<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <div>
            <form method="POST" th:action="@{/inmueble/modificar/__${inmueble.id}__}">
                
                <input hidden th:value="${inmueble.id}" name="idInmueble">
                
                <div>
                    <label>Modificar</label>
                    <input type="file" class="form-control" name="archivo" >>
                </div>
                <div>
                    <input type="file" class="form-control" name="archivo" >>
                </div>
                <div>
                    <input type="file" class="form-control" name="archivo" >>
                </div>
                <div>
                    <input type="file" class="form-control" name="archivo" >>
                </div>
                <div>
                    <input type="file" class="form-control" name="archivo" >>
                </div>
                <button type="submit"> Actualizar</button>
            </form>
        </div>
</html>
