<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace = "/fragments/head :: head"/>

    <body>
        <header th:replace = "/fragments/header :: header"/>
        <nav th:replace = "/fragments/nav :: nav"/>
        <div>
            <form class="formulario" th:action="@{/inmueble/modificar/__${inmueble.id}__}" method="POST" enctype="multipart/form-data">

                <label class="mb-2">Modificar Inmueble</label> 
                
                <input hidden th:value="${inmueble.id}" name="idInmueble">
                
                <div class="form-group my-3">

                    <input type="text" class="form-control" name="tipo" placeholder="Tipo de inmueble">
                </div>

                <div class="form-group my-3">
                    <input type="number" class="form-control" name="antiguedad" placeholder="Antiguedad del inmueble">
                </div>

                <div class="form-group my-3">
                    <input type="number" class="form-control" name="mts2" placeholder="Metros cuadrados del inmueble">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="provincia" placeholder="Provincia">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="departamento" placeholder="Departamento">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="direccion" placeholder="Direccion del inmueble">
                </div>
                <div class="form-group my-3">
                    <input type="number" class="form-control" name="precio" placeholder="Valor del Inmueble">
                </div>
                
                <div class="form-group my-3">
                    <input hidden th:value="${inmueble.imagen.id}" name="idImagen">
                    <input type="file" class="form-control" name="archivo" >
                </div>
                <div class="form-group my-3">
                    <select name="alta" class="searcher-form">
                        <option value="">No dar de Alta</option>
                        <option value="dar de alta">Dar de Alta</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>

            </form>
        </div>
    </body>
</html>
