<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "/fragments/head :: head"/>

    <body>
    <head th:replace = "/fragments/header :: header"/>
    <head th:replace = "/fragments/nav :: nav"/>
    <div class="container-fluid m-5 contenedor">


        <form class="formulario" th:action="@{/inmueble/registro}" method="POST" enctype="multipart/form-data">


            <label class="mb-2">Cargar Inmueble</label> 
            <select name="Tipo de propiedad" class="searcher-form">
                <option value="" disabled selected>Tipo de vivienda</option>
                <option value="1">Departamento</option>
                <option value="2">PH</option>
                <option value="3">Casa</option>
                <option value="4">Terreno y lotes</option>
                <option value="5">Cochera</option>
                <option value="6">Local</option>
                <option value="7">Oficina</option>
                <option value="8">Consultorio</option>
                <option value="9">Quinta</option>
                <option value="10">Chacra</option>
                <option value="11">Galpon</option>
                <option value="12">Deposito</option>
                <option value="13">Campo</option>
                <option value="14">Hotel</option>
                <option value="15">Fondo de comercio</option>
                <option value="16">Edificio</option>
                <option value="17">Otros</option>
            </select>

            <div class="form-group my-3">
                <input type="number" class="form-control" name="antiguedad" placeholder="Antiguedad del inmueble" th:value="${antiguedad}">
            </div>

            <div class="form-group my-3">
                <input type="number" class="form-control" name="mts2" placeholder="Metros cuadrados del inmueble" th:value="${mts2}">
            </div>
            <select name="Zona" class="searcher-form">
                <option value="" disabled selected>
                    Zona
                </option>
                <option value="1">Cordoba</option>
                <option value="2">San Luis</option>
                <option value="3">Mendoza</option>
                <option value="3">Buenos Aires</option>
                <option value="3">Corrientes</option>
                <option value="3">Santa Fe</option>
                <option value="3">Neuquén</option>
            </select>
            <select name="Zona" class="searcher-form">
                <option value="" disabled selected>
                    Departamento
                </option>
                <option value="1">Rio Cuarto</option>
                <option value="2">Quilmes</option>
                <option value="3">San Telmo</option>
                <option value="3">Iguazu</option>
                <option value="3">Palermo</option>
                <option value="3">Boca</option>
                <option value="3">El feudo de Corrientes</option>
            </select>
            <div class="form-group my-3">
                <input type="text" class="form-control" name="direccion" placeholder="Direccion del inmueble" th:value="${direccion}">
            </div>
            <div class="form-group my-3">
                <input type="number" class="form-control" name="precio" placeholder="Valor del Inmueble" th:value="${precio}">
            </div>
            <div class="form-group my-3">
                <input type="file" class="form-control" name="archivo" th:value="${archivo}" >
            </div>
            <div class="form-group my-3">
                <input type="text" class="form-control" name="descripcion" placeholder="Descripcion del inmueble" th:value="${descripcion}">
            </div>

            <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
        </form>


        <section class=" text-center container">
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/}" class="botonVolver">Volver</a>
                </div>
            </div>
        </section>
    </div>

    <!--Seccion del Footer-->
    <head th:replace = "/fragments/footer :: footer"/>
    <script src="index.js"></script>
</body>
</html>



