<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/registrar.css" />
        <title>Modificar perfil</title>
    </head>
    <body>
        <div class="container">
            <h2>Modificar perfil</h2>

            <form th:action="@{/cliente/modificar/__${cliente.id}__}" method="post" enctype="multipart/form-data">
                <input type="text" th:value="${cliente.id}" id="id" name="id" hidden/>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required th:value="${cliente.nombre}"readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required th:value="${cliente.email}">
                </div>
                <div class="form-group">
                    <label for="DNI">DNI:</label>
                    <input type="text" id="DNI" name="dni" required th:value="${cliente.dni}"readonly>
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="password" required th:value="${password}">
                </div>
                <div class="form-group">
                    <label for="repetir-contrasena">Repetir Contraseña:</label>
                    <input type="password" id="repetir-contrasena" name="password2" required th:value="${password2}">
                </div>
                     <div class="form-group">
                    <label for="rol">Queres vender o comprar:</label>
                    <select name="rol" id="rol">
                        <option value="ENTE">Vender</option>
                        <option value="CLIENTE">Comprar</option>
                    </select>
                </div>
                <div class="form-group my-3">
                    <input type="file" class="form-control" name="archivo" th:value="${archivo}" >
                </div>
                <div class="form-group">
                    <input type="submit" value="Modificar perfil">
                </div>

            </form>
        </div>
    </body>
</html>
