<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--<head>
        <head th:replace = "/fragments/head :: head"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/inmueble_lista.css"/>
        <title>lista de inmueble</title>
    </head>-->

    <head th:replace = "/fragments/head :: head"/>


    <body>
        <header th:replace = "/fragments/header :: header"/>
        <nav th:replace = "/fragments/nav :: nav"/>
        <div class="container-fluid m-5 contenedor">

            <div class="container m-5" >

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"> fecha</th>
                            <th scope="col"> Asunto</th>
                            <th scope="col"> Mensaje</th>

                        </tr>
                    </thead>
                    <tbody th:each="publicacion : ${publicaciones}">
                        <tr>
                            <th scope="row" th:text="${publicacion.fechaEnvio}"></th>
                            <th scope="row" th:text="${publicacion.asunto}"></th>
                            <th scope="row" th:text="${publicacion.mensaje}"></th>

                            <td>
                                <a class="boton-modificar" th:href="@{/publicacion/visualizar/__${publicacion.id}__}">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                        </div>
                    </div>
                </section>

            </div>


            <!--Seccion del Footer-->
            <footer th:replace = "/fragments/footer :: footer"/>
            <script src="index.js"></script>
    </body>
</html>